#playground {
    text-align: center;
}
.playground-row {
    height: 22px;
}
.playground-cell {
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background-color: #ce8483;
    margin: 1px;
    font-size: 8px;
}
.playground-cell.alive {
    background-color: #67b168;
}